body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#container{
    display: flex;
    flex-wrap: wrap;
    width:640px;
    height:640px;
    border:1px solid black;
}
#GUI{
    display: flex;
}
#buttonContainer{
    display: flex;
    flex-direction: row;
    margin: 20px;
    gap : 10px;
}